<div class="arena">
  <div id="heroes" class="team">
    <div class="players">
      <img src="../assets/super-1.png" alt="" />
      <div class="name">Spiderman</div>
      <div class="strength">12</div>
    </div>
    <div class="players">
      <img src="../assets/super-3.png" alt="" />
      <div class="name">Wonder Women</div>
      <div class="strength">30</div>
    </div>
  </div>
  <div id="score">5-0</div>
  <div id="villains" class="team">
    <div class="players">
      <img src="../assets/super-2.png" alt="" />
      <div class="name">Captain America</div>
      <div class="strength">50</div>
    </div>
    <div class="players">
      <img src="../assets/super-4.png" alt="" />
      <div class="name">Gem Women</div>
      <div class="strength">12</div>
    </div>
  </div>
</div>
